<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport_id %>
  </p>

  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport_id %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Flight duration:</strong>
    <%= flight.flight_duration %>
  </p>

</div>
