<%= form_tag("/", method: :get) do %>
<div class="box">
<span>
  <%= label_tag(:departure_airport_id, "Departure", class:'label') %>
  <%= select_tag(:departure_airport_id, options_for_select(@airports, params[:departure_airport_id]), class:'input airport-box') %>
</span>
<span>
  <%= label_tag(:arrival_airport_id, "Arrival", class:'label') %>
  <%= select_tag(:arrival_airport_id, options_for_select(@airports, params[:arrival_airport_id]), class:'input airport-box') %>
</span>
  

  <p>
    <%= label_tag(:date, "Departure Date:", class:'label') %>
    <%= select_tag(:date, 
                   options_for_select(@dates, params[:date]), class:'input airport-box-larger') %>
  </p>
</div>
    <%= submit_tag "Search", :class => "btn" %>

<% end %>

