<%= form_with url: '/', method: :get, local: true do |form| %>
  <p>
  <%= label_tag(:departure_airport_id, "Departure:") %>
  <%= select_tag(:departure_airport_id, options_for_select(@airports, params[:departure_airport_id])) %>
  </p>

  <p>
    <%= label_tag(:arrival_airport_id, "Arrival:") %>
    <%= select_tag(:arrival_airport_id, options_for_select(@airports, params[:arrival_airport_id])) %>
  </p>

  <p>
    <%= label_tag(:date, "Departure Date:") %>
    <%= select_tag(:date, 
                   options_for_select(@dates, params[:date])) %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
