<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flights">
    <%= render 'searchform' %>
</div>

<%= params.inspect %>

<% if @flights && @flights.any? %>
<div>Flights From</div> 
    <% @flights.each do |flight| %>
    <div class="flights-header">
      <%= flight.departure_airport.airport_id %> to
      <%=flight.arrival_airport.airport_id %> on
      <%= flight.departure_time.strftime("%m/%d/%Y") %>
    </div>
    <% end %>
    <% end %>