<p style="color: green"><%= notice %></p>
<p>
<strong>Select your desired booking, we'll try to get you as close as possible</h1>
</strong></p>
<div id="flights">
    <%= render 'searchform' %>
</div>

<% if @flights && @flights.any? %>
<p><strong>Flights From</strong></p>
    <% @flights.each do |flight| %>
    <div class="flights-header">
      <%= flight.departure_airport.airport_id %> to
      <%=flight.arrival_airport.airport_id %> on
      <%= flight.departure_time.strftime("%m/%d/%Y") %>
    </div>
    <% end %>
<% end %>