<div class="box has-text-centered">
  <%= form_for @booking do |f| %>
    <% count = 1 %>
    <%= f.fields_for :passengers do |information| %>
      <strong><p class="passenger-name">Passenger <%= count %></p></strong>
      <div class="passenger-info columns">
        <p class="column passenger-label is-one-half">
          <%= information.label :name, "Name" %><br>
          <%= information.text_field :name, :required => true %>
        </p>   
    
        <p class="column passenger-label is-one-half">
          <%= information.label :email, "Email" %><br>
          <%= information.text_field :email, :required => true %>
        </p>  
      </div>
  <% count += 1 %>
    <% end %>
    <%= f.hidden_field(:flight_id, :value => @flight.id) %>
    <%= f.submit "Submit booking", :class => "button is-primary" %>
                           <br>
  <% end %>
</div>